.outer {
    display: nones;
}

.outer{
    width: 40px;
    height: 40px;
    display: flex;
    gap: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;

    & span{
        width: 70%;
        height: 3.5px;
        border-radius: 2px;
        background-color: #000;
        /* var(--btn-primary); */
    }
}

a{
    text-decoration: none;
}

@media (min-width:994px) {
    .outer{
        display: none;
    }
    
}
